
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
body {
  @apply bg-white text-black dark:bg-black dark:text-white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html.dark body {
  background: black;
  color: rgb(255, 255, 255);
}

html body {
  background: white;
  color: black;
}

.hero{
  background-image: url(../public/slider-13.jpg);
  background-position: center center;
  background-size: cover;
}